.header-main {
    padding: 0 200px;
    background-color: var(--primary-300);

}

.header-main-title {
    font-size: 2rem;
    background-color: transparent;
    padding: 60px 0px 30px 0px;

}

.header-inputs {
    padding: 8px 235px;
    background-color: var(--primary-500);
    height: 220px;

}

.header-inputs-wrapper {
    width: 100%;
    min-height: 140px;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    gap: 16px;
    max-height: 120px;
    flex-direction: column;

}

.header-inputs-wrapper-input {
    width: 100%;
    display: flex;
    gap: 8px
}

.header-inputs-wrapper-button {
    width: 80%;
    height: 30px;
    border-radius: 50px;
    background-color: #C9CEE1;
    border: none;
    color: #597B9B;
    font-size: 1.2rem;
}
.b-visible
{
    visibility: visible;
}

.b-invisible {
    visibility: hidden;
}